openapi: 3.0.0
 
info:
 version: ‘1.0’
 title: ‘Redwood Web API’
 description: ‘Web Resources Specification (A7) for Redwood
 
servers:
- url: http://lbaw.fe.up.pt
- description: Production server
 
 
tags:
 - name: 'M01: Authentication'
 - name: 'M02: Individual Profile'
 - name: 'M03: User Administration'
 - name: 'M04: Book'
 - name: 'M05: Cart'
 - name: 'M06: Review'
 - name: 'M07: Wishlist'
 - name: 'M08: Order'
 - name: 'M09: Report'
 - name: 'M10: Static Pages'
 - name: 'M11: Notification'
 
 
paths:
 /login:
   get:
     operationId: R101
     summary: 'R101: Login Form'
     description: 'Provide login form. Access: PUB'
     tags:
       - 'M01: Authentication'
     responses:
       '200':
         description: 'Ok. Show Log-in UI'
   post:
     operationId: R102
     summary: 'R102: Login Action'
     description: 'Processes the login form submission. Access: PUB'
     tags:
       - 'M01: Authentication'
 
     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
            schema:
             type: object
             properties:
               email:          # <!--- form field name
                 type: string
               password:    # <!--- form field name
                 type: string
             required:
                  - email
                  - password
 
     responses:
       '302':
         description: 'Redirect after processing the login credentials.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/users/{id}'
               302Error:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'
 
 /logout:
 
   post:
     operationId: R103
     summary: 'R103: Logout Action'
     description: 'Logout the current authenticated user. Access: USR, ADM'
     tags:
       - 'M01: Authentication'
     responses:
       '302':
         description: 'Redirect after processing logout.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful logout. Redirect to login form.'
                 value: '/login'
 
 /register:

   get:
    operationId: R104
    summary: 'R104: Register Form'
    description: 'Provide new user registration form. Access: PUB'
    tags:
       - 'M01: Authentication'
    responses:
       '200':
         description: 'Ok. Show Sign-Up UI'
 
   post:
     operationId: R105
     summary: 'R105: Register Action'
     description: 'Processes the new user registration form submission. Access: PUB'
     tags:
       - 'M01: Authentication'
 
     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               name:
                 type: string
               email:
                 type: string
               picture:
                 type: string
                 format: binary
             required:
                            - email
                             - password
 
     responses:
       '302':
         description: 'Redirect after processing the new user information.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/users/{id}'
               302Failure:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'
/users/{id}:
   get:
     operationId: R106
     summary: 'R106: View user profile'
     description: 'Show the individual user profile. Access: USR'
     tags:
       - 'M02: Individual Profile'
 
     parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true
 
     responses:
       '200':
         description: 'Ok. Show User Profile UI'



/api/books:
   get:
     operationId: R202
     summary: 'R202: Search books API'
     description: 'Searches for books and returns the results as JSON. Access: PUB.'
 
     tags:
       - 'M04: Book'
 
     parameters:
       - in: query
         name: query
         description: String to use for full-text search
         schema:
           type: string
         required: false
       - in: query
         name: item
         description: Category of the books
         schema:
           type: string
         required: false
       - in: query
         name: classification
         description: Integer corresponding to the book review score
         schema:
           type: integer
         required: false
responses:
       '200':
         description: Success
         content:
           application/json:
             schema:
               type: array
               items:
                 type: object
                 properties:
                   id:
                     type: string
                   title:
                     type: string
                   category:
                     type: string
                   year:
                     type: string
                   type:
                     type: string
                   price:
                     type: float
                   author:
                     type: string
               example:
                 - id: 1
                   title: Rihanna - Unapologetic
                   category: Good pop music album.
                   year: 2012
                   type: MP3
                 - id: 15
                   title: Mr. Bean
                   obs: The best comedy movie.
                   year: 1995
                   type: DVD