openapi: 3.0.0
 
info:
 version: '1.0'
 title: 'Redwood Web API'
 description: 'Web Resources Specification (A7) for Redwood'
 
servers:
- url: http://lbaw.fe.up.pt
- description: Production server
 
tags:
 - name: 'M01: Authentication'
 - name: 'M02: Individual Profile'
 - name: 'M03: User Administration'
 - name: 'M04: Book'
 - name: 'M05: Cart'
 - name: 'M06: Review'
 - name: 'M07: Wishlist'
 - name: 'M08: Order'
 - name: 'M09: Report'
 - name: 'M10: Static Pages'
 - name: 'M11: Notification'
 
 
paths:

 /login:
   get:
     operationId: R101
     summary: 'R101: Login Form'
     description: 'Provide login form. Access: PUB'
     tags:
       - 'M01: Authentication'
     responses:
       '200':
         description: 'Ok. Show Log-in UI'
   post:
     operationId: R102
     summary: 'R102: Login Action'
     description: 'Processes the login form submission. Access: PUB'
     tags:
       - 'M01: Authentication'
 
     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
            schema:
             type: object
             properties:
               email:          # <!--- form field name
                 type: string
               password:    # <!--- form field name
                 type: string
             required:
                  - email
                  - password
 
     responses:
       '302':
         description: 'Redirect after processing the login credentials.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/users/{id}'
               302Error:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'
 
 /logout:
 
   post:
     operationId: R103
     summary: 'R103: Logout Action'
     description: 'Logout the current authenticated user. Access: USR, ADM'
     tags:
       - 'M01: Authentication'
     responses:
       '302':
         description: 'Redirect after processing logout.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful logout. Redirect to login form.'
                 value: '/login'
 
 /register:

   get:
    operationId: R104
    summary: 'R104: Register Form'
    description: 'Provide new user registration form. Access: PUB'
    tags:
       - 'M01: Authentication'
    responses:
       '200':
         description: 'Ok. Show Sign-Up UI'
 
   post:
     operationId: R105
     summary: 'R105: Register Action'
     description: 'Processes the new user registration form submission. Access: PUB'
     tags:
       - 'M01: Authentication'
 
     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               name:
                 type: string
               email:
                 type: string
               picture:
                 type: string
                 format: binary
             required:
                            - email
                             - password
 
     responses:
       '302':
         description: 'Redirect after processing the new user information.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/users/{id}'
               302Failure:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'

 /users/{id}/ViewCart:
  get:
    operation: R501
    summary: 'R501: View user cart'
    description: 'Show the individual user cart. Access: USR'
    tags:
      - 'M05: Cart'
    responses:
      '200':
        description: 'Ok. Show Cart UI31'
 /users/{id}/addBookToCart:
  post:
    operationId: R502
    summary: 'R502: Add to Cart Action'
    description: 'Provide add to cart form submission. Access: USR'
    tags:
      - 'M05: Cart'

    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              book name:
                type: string
              author:
                type: string
              year:
                type: integer
              quantity:
                type: integer 
            required:
                            - book name
                            - quantity

    responses:
      '302':
        description: 'Redirect after processing cart form.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful add to cart. Redirect to user cart.'
                value: '/users/{id}/ViewCart'
              302Failure:
                description: 'Failed add to cart. Redirect to user cart.'
                value: '/users/{id}/ViewCart'
  
 users/{id}/removeBookCart:  
  post:
    operationId: R503
    summary: 'R503: Remove from Cart Action'
    description: 'Provide remove from cart form submission. Access: USR'
    tags:
      - 'M05: Cart'

    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              book name:
                type: string
              author:
                type: string
              year:
                type: integer
            required:
                            - book name

    responses:
      '302':
        description: 'Redirect after processing cart form.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful removal from cart. Redirect to user cart.'
                value: '/users/{id}/ViewCart'
              302Failure:
                description: 'Failed removal from cart. Redirect to user profile.'
                value: '/users/{id}/ViewCart'

 /users/{id}/updateBookQuantity:
  post:
    operationId: R504
    summary: 'R504: Update book quantity'
    description: 'R504: Update book quantity in cart. Access: USR'
    tags:
      - 'M05: Cart'
    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              book name:
                type: string
              author:
                type: string
              year:
                type: integer
              quantity:
                type: integer
            required:
                            - book name
                            - quantity

    responses:
      '302':
        description: 'Redirect after processing cart form.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful update of cart. Redirect to user cart.'
                value: '/users/{id}/ViewCart'
              302Failure:
                description: 'Failed to update cart. Redirect to user cart.'
                value: '/users/{id}/ViewCart'

 /item/{id}/ViewReviews:
  get:
    operation: R601
    summary: 'R601: View item reviews'
    description: 'Show the Item reviews. Access: PUB'
    tags:
      - 'M06: Review'
    responses:
      '200':
        description: 'Ok. Show Item review UI52'


 /users/{id}/ViewWrittenReviews:
  get:
    operation: R602
    summary: 'R602: View item written review'
    description: 'Show the written reviews. Access: USR'
    tags:
      - 'M06: Review'
    responses:
      '200':
        description: 'Ok. Show Item review UI34'

 /users/{id}/DeleteWrittenReview:
    post:
    operationId: R603
    summary: 'R603: Remove review Action'
    description: 'Provide remove review. Access: USR'
    tags:
      - 'M06: Review'

    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              review id:
                type: integer
            required:
                            - review id

    responses:
      '302':
        description: 'Redirect after processing remove review form.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful removal from item reviews. Redirect to written reviews.'
                value: '/users/{id}/WrittenReviews'
              302Failure:
                description: 'Failed removal from item reviews. Redirect to written reviews.'
                value: '/users/{id}/WrittenReviews'
              
 /users/{id}/EditWrittenReview:
  post:
    operationId: R604
    summary: 'R604: Edit review Action'
    description: 'Provide remove review. Access: USR'
    tags:
      - 'M06: Review'

    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              review id:
                type: integer
              new comment:
                type: String
              new rating:
                type: integer
            required:
                            - review id

    responses:
      '302':
        description: 'Redirect after processing edit review form.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful review change. Redirect to written reviews.'
                value: '/users/{id}/WrittenReviews'
              302Failure:
                description: 'Failed review change. Redirect to written reviews.'
                value: '/users/{id}/WrittenReviews'
 
 /item/{id}/AddReview:
  get:
    operation: R605
    summary: 'R605: View item reviews'
    description: 'Show the create review form. Access: USR'
    tags:
      - 'M06: Review'
    responses:
      '200':
        description: 'Ok. Show Item create review form UI52'
  post:
    operationId: R606
    summary: 'R606: Edit review Action'
    description: 'Provide remove review. Access: USR'
    tags:
      - 'M06: Review'

    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              comment:
                type: String
              rating:
                type: integer
            required:
                            - rating

    responses:
      '302':
        description: 'Redirect after processing add review form.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful review . Redirect to written reviews.'
                value: '/users/{id}/WrittenReviews'
              302Failure:
                description: 'Failed review. Redirect to written reviews.'
                value: '/users/{id}/WrittenReviews'

 
 /listBooks:
  get:
    operationId: R701
    summary: 'R701: View user wishlist'
    description: 'Show the individual user wishlist. Access: USR'
    tags:
      - 'M07: Wishlist'
    responses:
      '200':
        description: 'Ok. Show Wishtlist UI'

 /addBook:
  post:
    operationId: R702
    summary: 'R702: Add to Wishtlist Action'
    description: 'Provide add to wishlist form submission. Access: USR'
    tags:
      - 'M07: Wishlist'

    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              book name:
                type: string
              author:
                type: string
              year:
                type: integer
            required:
                            - book name

    responses:
      '302':
        description: 'Redirect after processing wishlist form.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful add to wishlist. Redirect to user profile.'
                value: '/users/{id}'
              302Failure:
                description: 'Failed add to wishlist. Redirect to user profile.'
                value: '/users/{id}'
  
 /removeBook:  
  post:
    operationId: R702
    summary: 'R702: Remove from Wishtlist Action'
    description: 'Provide remove from wishlist form submission. Access: USR'
    tags:
      - 'M07: Wishlist'

    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              book name:
                type: string
              author:
                type: string
              year:
                type: integer
            required:
                            - book name

    responses:
      '302':
        description: 'Redirect after processing wishlist form.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful removal from wishlist. Redirect to user profile.'
                value: '/users/{id}'
              302Failure:
                description: 'Failed removal from wishlist. Redirect to user profile.'
                value: '/users/{id}'

 /viewOrders:
  get:
    operationId: R801
    summary: 'R801: View user order'
    description: 'Show the individual user orders. Access: USR'
    tags:
      - 'M08: Order'
    responses:
      '200':
        description: 'Ok. Show Order UI'

 /buyCurrentCart:
  get:
    operationId: R802
    summary: 'R802: Buy Current Cart Action'
    description: 'Buys current cart from the authenticated user. Access: USR'
    tags:
      - 'M08: Order'
    responses:
      '200':
        description: 'Ok. Show Current Order UI'

 /viewReport:
  get:
    operationId: R901
    summary: 'R901: Show report' 
    description: 'Shows the report to the user'
    tags:
      - 'M09: Report'
    responses:
      '200':
       description: 'Ok. Show report UI'

 /addReport:
  post:
    operationId: R902
    summary: 'R902: Create report'
    description: 'R902: Create report form submission. Access: USR'
    tags:
      - 'M09: Report'
    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              description:
                type: string
              isHandled:
                type: boolean
            required:
                            - description

    responses:
      '302':
        description: 'Redirect after processing report form.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful creation of report. Redirect to user profile.'
                value: '/users/{id}'
              302Failure:
                description: 'Failed to create report. Redirect to user profile.'
                value: '/users/{id}'

 /updateReport:
  post:
    operationId: R903
    summary: 'R903: Update report'
    description: 'R903: Update report. Access: USR'
    tags:
      - 'M09: Report'
    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              description:
                type: string
              isHandled:
                type: boolean
            required:
                            - description

    responses:
      '302':
        description: 'Redirect after processing report form.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful update of report. Redirect to user profile.'
                value: '/users/{id}'
              302Failure:
                description: 'Failed to update report. Redirect to user profile.'
                value: '/users/{id}'



 /viewPage:
  get:
    operationId: R1001
    summary: 'R1001: Show static page' 
    description: 'Shows the static page to the user'
    tags:
      - 'M10: Static Pages'
    responses:
      '200':
       description: 'Ok. Show static page UI'
  
 /viewNotification:
  get:
    operationId: R1101
    summary: 'R1101: Show notification' 
    description: 'Shows the notification to the user'
    tags:
      - 'M11: Notification'
    responses:
      '200':
       description: 'Ok. Show notification UI'
  
